h1 {
    color: green;
    text-align: center;
    font: italic 250% Times;
    background-color: black;
    
}

#message > p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 25px;
}

img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    
    
}

#questions_and_answers{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    grid-column-gap: 35px;
    grid-template-areas:
        ". header1 . header2 ."
        ". questions comments results ."
        ". questions comments results2 ."
        ". submit_button . . .";
}

#survey_questions{
    grid-area: questions;
    border: solid;
}

#comment_box{
    grid-area: comments;
    border: solid;
    padding: 15px;
}

#show_answers{
    grid-area: results;
    border: solid;
    border-bottom: none;
}

#submit_button{
    grid-area: submit_button;
    width: 50%;
    color: green;
    background-color: black;
    cursor: pointer;
    margin-bottom: 15px;
}

#show_comment{
    grid-area: results2;
    border: solid;
    border-top: none;
}

#questions_section{
    grid-area: header1;
}

#survey_result{
    grid-area: header2;
}

footer{
    color: green;
    text-align: center;
    font: italic 250% Times;
    background-color: black;
    
}
